In [1]:
# import packages
import pandas as pd
import numpy as np
import matplotlib as plt
from binance.client import Client

In [8]:
# establish anonymous connection (public endpoints only)
client = Client()

# obtains BTC/USDT funding rate data
funding = client.futures_funding_rate(symbol = "BTCUSDT", limit = 1000)

# creates a df with each row representing an 8-hour funding event
funding_df = pd.DataFrame(funding)
funding_df["fundingTime"] = pd.to_datetime(funding_df["fundingTime"], unit = "ms")
funding_df["fundingRate"] = funding_df["fundingRate"].astype(float)
funding_df = funding_df[["fundingRate","fundingTime"]]
funding_df

     fundingRate             fundingTime
0       0.000028 2025-11-11 00:00:00.007
1      -0.000028 2025-11-11 08:00:00.000
2       0.000058 2025-11-11 16:00:00.009
3       0.000025 2025-11-12 00:00:00.000
4       0.000007 2025-11-12 08:00:00.002
..           ...                     ...
195    -0.000004 2026-01-15 00:00:00.000
196     0.000017 2026-01-15 08:00:00.004
197     0.000015 2026-01-15 16:00:00.002
198     0.000073 2026-01-16 00:00:00.000
199     0.000073 2026-01-16 08:00:00.000

[200 rows x 2 columns]

In [ ]:
# fetches mark price data (OHLC) for BTC/USDT
mark_klines = client.futures_mark_price_klines(symbol = "BTCUSDT", interval = "8h", limit = 200)

# creates a mark price df and labels columns
mark_df = pd.DataFrame(mark_klines, columns = 
                       ["open_time", "open", "high", "low", "close_price",
                        "ignore1", "close_time", "ignore2", "ignore3", "ignore4",
                        "ignore5", "ignore6"])

# mark_df = mark_df.drop(columns = ["ignore1", "ignore2", "ignore3", "ignore4", "ignore5", "ignore6", "open", "high", "low"])

# format column types and define df
mark_df["timestamp"] = pd.to_datetime(mark_df["open_time"], unit = "ms")
mark_df["close_price"] = mark_df["close_price"].astype(float)
mark_df = mark_df[["timestamp","close_price"]]

mark_df

              timestamp    close_price
0   2025-11-11 00:00:00  104737.000000
1   2025-11-11 08:00:00  103431.508949
2   2025-11-11 16:00:00  103007.545812
3   2025-11-12 00:00:00  103070.028449
4   2025-11-12 08:00:00  102175.668333
..                  ...            ...
195 2026-01-15 00:00:00   96606.597710
196 2026-01-15 08:00:00   96738.752233
197 2026-01-15 16:00:00   95567.400000
198 2026-01-16 00:00:00   95608.200000
199 2026-01-16 08:00:00   95426.400000

[200 rows x 2 columns]